
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$radiant-primary: mat-palette($mat-indigo);
$radiant-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$radiant-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$radiant-theme: mat-light-theme($radiant-primary, $radiant-accent, $radiant-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($radiant-theme);

@font-face {
  font-family: 'Industry';
  src: url('./assets/fonts/Industry-Light.eot');
  src: local('Industry Light'), local('Industry-Light'),
  url('./assets/fonts/Industry-Light.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-Light.woff') format('woff'),
  url('./assets/fonts/Industry-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Industry';
  src: url('./assets/fonts/Industry-Bold.eot');
  src: local('Industry Bold'), local('Industry-Bold'),
  url('./assets/fonts/Industry-Bold.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-Bold.woff') format('woff'),
  url('./assets/fonts/Industry-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Industry';
  src: url('./assets/fonts/Industry-BoldItalic.eot');
  src: local('Industry Bold Italic'), local('Industry-BoldItalic'),
  url('./assets/fonts/Industry-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-BoldItalic.woff') format('woff'),
  url('./assets/fonts/Industry-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Industry';
  src: url('./assets/fonts/Industry-LightItalic.eot');
  src: local('Industry Light Italic'), local('Industry-LightItalic'),
  url('./assets/fonts/Industry-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-LightItalic.woff') format('woff'),
  url('./assets/fonts/Industry-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Industry-Book';
  src: url('./assets/fonts/Industry-Book.eot');
  src: local('Industry Book'), local('Industry-Book'),
  url('./assets/fonts/Industry-Book.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-Book.woff') format('woff'),
  url('./assets/fonts/Industry-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Industry';
  src: url('./assets/fonts/Industry-BlackItalic.eot');
  src: local('Industry Black Italic'), local('Industry-BlackItalic'),
  url('./assets/fonts/Industry-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-BlackItalic.woff') format('woff'),
  url('./assets/fonts/Industry-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Industry-BookItalic';
  src: url('./assets/fonts/Industry-BookItalic.eot');
  src: local('Industry Book Italic'), local('Industry-BookItalic'),
  url('./assets/fonts/Industry-BookItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-BookItalic.woff') format('woff'),
  url('./assets/fonts/Industry-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Industry-DemiItalic';
  src: url('./assets/fonts/Industry-DemiItalic.eot');
  src: local('Industry Demi Italic'), local('Industry-DemiItalic'),
  url('./assets/fonts/Industry-DemiItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-DemiItalic.woff') format('woff'),
  url('./assets/fonts/Industry-DemiItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Industry';
  src: url('./assets/fonts/Industry-Black.eot');
  src: local('Industry Black'), local('Industry-Black'),
  url('./assets/fonts/Industry-Black.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-Black.woff') format('woff'),
  url('./assets/fonts/Industry-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Industry';
  src: url('./assets/fonts/Industry-Medium.eot');
  src: local('Industry Medium'), local('Industry-Medium'),
  url('./assets/fonts/Industry-Medium.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-Medium.woff') format('woff'),
  url('./assets/fonts/Industry-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Industry';
  src: url('./assets/fonts/Industry-MediumItalic.eot');
  src: local('Industry Medium Italic'), local('Industry-MediumItalic'),
  url('./assets/fonts/Industry-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-MediumItalic.woff') format('woff'),
  url('./assets/fonts/Industry-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Industry-Demi';
  src: url('./assets/fonts/Industry-Demi.eot');
  src: local('Industry Demi'), local('Industry-Demi'),
  url('./assets/fonts/Industry-Demi.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Industry-Demi.woff') format('woff'),
  url('./assets/fonts/Industry-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Industry';
}

.main-btn {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  padding: 16px 70px;
  max-width: 220px;
  background-color: #E50000;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.flex {
  display: flex;
}

.swiper-button-prev, .swiper-button-next {
  display: none!important;
}

.brands-slider-container {
  .swiper-container-horizontal {
    height: 163px!important;
    .swiper-wrapper {
      right: 80px;
    }
  }
}
.menu-container {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
  position: absolute;
  &--items {
    &__link {
      margin-left: 1.875rem;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      color: #FFFFFF;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &--btn {
    border: none;
    cursor: pointer;
    border-radius: 0;
    background-color: unset;
    &__icon {
      width: 30px;
      height: 9px;
    }
    &__icon-light {
      background-image: url("./assets/icons/group-light.svg");
    }
    &__icon-dark {
      background-image: url("./assets/icons/group-dark.svg");
    }
    &__close-icon {
      background-image: url("./assets/icons/close.svg");
      width: 52px;
      height: 52px;
    }
  }
}

.btn-icon {
  width: 20px;
  height: 20px;
  background-image: url("./assets/icons/arrow_forward-24px.svg");
}

.work-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-family: "Industry";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}
.mat-sidenav {
  height: 800px;
  width: 100%;
  max-height: 100vh;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
